*{
    padding: 0;
    margin: 0;
}


body, button {
    color: black;
    text-align: center;
    font-family: monospace;
    background-color: rgb(240, 248, 255);
}

#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url(sky.jpg);
}
#character{
    width: 45px;
    height: 45px;
    background-image: url(standingg.png);
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: url(sky.jpg);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

#startGame {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url(sky.jpg);
}

p{
    color: black;
    text-align: center;
    font-family: monospace;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
}
